.upper {
  width: 1300px;
  height: 40px;
  background-color: black;
  padding: 5px;
}

.sideBar {
  width: 50px;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.bodymain {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.bodyLeft {
  width: 200px;
  height: 100%;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 56, 56);
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px;
}

.body2 {
  width: 100%;
  overflow-y: auto;
}

.main {
  display: flex;
  justify-content: space-between;
}

.chat {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: white;
}

.input {
  display: flex;
  justify-content: center;
}

.empo {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.sting {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  flex: 1;
  padding: 10px;
  overflow-y: hidden;
}

.new {
  background-color: aqua;
}

.mess {
  background-color: gray;
  color: white;
  padding: 10px;
  margin-left: 5px;
}

.mess2 {
  background-color: greenyellow;
  float: right;
  padding: 10px;
}

.bodyRight .topmain {
  background-color: #808080;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  gap: 10px;
}

.mess {
  font-size: 20px;
}

.put {
  margin: auto;
}

.imp {
  width: 100vw;
  height: 100%;
  background-color: white;
}
